.App {
  font-family: sans-serif;
  text-align: center;
}

.buttonHelp {
  color: wheat;
  background-image: linear-gradient(180deg, green, lightgreen);

  text-align: center;
  text-shadow: 1px 1px 4px black;
  border-color: pink;
  border-radius: 10px;
  float: right;
}
.divDisplayBlock {
  width: 100%;
  background-color: lightblue;
  margin-top: 20px;
  display: block;
}

.divDisplayNone {
  width: 100%;
  background-color: lightblue;
  margin-top: 20px;
  display: none;
}
/* Modal.css */
.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal {
  top: 10px;
  background: white;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
}

.modalHeight {
  min-height: 500px;
  width: 330px;
}

.modalHit {
  color: peachpuff;

  background-image: linear-gradient(180deg, lightgreen, green);
  text-align: center;
  text-shadow: 1px 1px 4px black;
  border-color: orange;
  border-radius: 10px;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  height: 65px;
}

.modalHit p {
  margin: 5px;
}

.modalHit :last-child {
  margin-bottom: -20px;
}

.splashQuote {
  width: 300px;
  height: 45px;

  background-image: linear-gradient(180deg, lightgrey, lightgrey);
  text-align: center;
  vertical-align: middle;
  font-size: 17px;
  font-style: italic;
  font-weight: bold;
  color: darkgreen;
  text-shadow: 1px 2px 2px slate;
  border-width: 3px;
  border-color: lightgrey;
}

.starting9Start {
  color: black;
  background-color: yellow;
  text-align: center;
  font-weight: bold;
  border-color: black;
  border-radius: 10px;
}

.starting9Title {
  color: white;
  background-image: linear-gradient(160deg, green, lightgreen);
  text-align: center;
  text-shadow: 1px 1px 4px purple;
  border-color: darkgreen;
  border-radius: 10px;
}

.statTable {
  border-collapse: collapse;
  border-radius: 5px;
}

.alignRight {
  text-align: right;
}

.alignLeft {
  text-align: left;
}

p {
  margin: 0.5em 0; /* Set the top and bottom margin to half of the line height */
}

table {
  border-collapse: collapse;
  border: 2px solid darkgreen;
}

.td-atBatHeader {
  background-color: lightgrey;
  width: 320px;
  height: 10px;
}

.td-atBatHistoryTeam {
  font-size: 11px;
  border: 2px solid darkgreen;
  width: 200px;
  height: 7px;
}
.td-atBatHistoryResult {
  font-size: 11px;

  border: 2px solid darkgreen;
  width: 100px;
  height: 7px;
  font-weight: bold;
}

.td-statHeader {
  background-color: lightgrey;
  width: 275px;
  height: 10px;
}

.td-statBox td {
  border: 1px solid black;
}

.td-posSelected {
  height: 15px;
  background-color: lightgray;
  font-size: 15px;

  font-weight: bolder;
  color: darkgreen;
  text-shadow: 1px 2px 2px white;
}

.td-posUnSelected {
  height: 15px;
  background-color: white;
  font-size: 15px;
  visibility: hidden;
}
